<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈 페이지</title>

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="/css/init.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css"/>
    <link rel="stylesheet" href="/css/popup.css"/>


</head>

<body>


<div id="wrapper">

    <div class="center">

        <!-- 로그인 팝업 HTML 추가 -->
        <div id="login-popup" class="popup-overlay">
            <div class="popup-content">
                <div class="popup-image-container">
                    <img src="https://img.freepik.com/premium-vector/crea-un-icono-que-ilustre-software-o-una-pc-laptop-vector-illustration-doodle-line-art_969863-91082.jpg?w=826" alt="Left Image">
                </div>
                <span class="popup-close">&times;</span>
                <form id="login-form" th:action="@{/login}" method="post">
                    <div class="popup-container">
                        <div class="popup-mainword">
                            <h2>Ready to connect with your favorite brand?</h2>
                            <p>Just give us the following details and we'll help you get
                                connected.</p>
                        </div>
                        <div class="popup-word">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username" required>
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" required>
                            <button type="submit">Login</button>
                            <button type="button">Sign In</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <header th:replace="header/header :: header"></header>

        <main class="main-container">
            <div class="main-box">
                <div class="main-word">
                    <h1>Communicating Coding</h1>
                    <p>A technique for implementing one or more related abstract algorithms into specific computer programs using a specific programming language</p>
                </div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTohFwdU4sY3J7mARcwIlradG-A3ojX5-1dfA&s"
                     alt="Main image">
            </div>

            <div class="card-container">
                <div class="card">
                    <img src="https://img.freepik.com/free-vector/programming-concept-illustration_114360-27522.jpg?t=st=1725496881~exp=1725500481~hmac=d7821b99171bbb4a2eed2a279ac5eca4058780d40483794e2e49932ff562c85c&w=826"
                         class="card-img-top" alt="Sample image 1">
                    <div class="card-body">
                        <h5 class="card-title">Front-End</h5>
                        <p class="card-text">Particularly interaction with the software application or website.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://img.freepik.com/free-vector/young-programmer-working-laptop-computer-cartoon-character_24797-2123.jpg?w=826&t=st=1725496346~exp=1725496946~hmac=acfe6d0360d0f88cdfa6cf37782cfc8f2d62efa1ed9fd82a805eaf5f93cac150" class="card-img-top" alt="Sample image 2">
                    <div class="card-body">
                        <h5 class="card-title">Back-End</h5>
                        <p class="card-text">It processes user behavior on the web or apps, stores, manages.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://img.freepik.com/free-vector/abstract-technology-sql-illustration_23-2149229480.jpg?t=st=1725501143~exp=1725504743~hmac=28078d6bdde3d293d91b5b2c68be37722d0675e41e1d82e673b0f78b1cc8bd8a&w=826" class="card-img-top" alt="Sample image 3">
                    <div class="card-body">
                        <h5 class="card-title">C#</h5>
                        <p class="card-text">Object-oriented programming language.</p>
                    </div>
                </div>
            </div>
        </main>

    </div>
</div>

<footer th:replace="footer/footer :: footer"></footer>


<script src="/js/popup.js"></script> <!-- 로그인 팝업을 위한 JS 추가 -->

</body>

</html>
