  * {
        text-align: center;
        align-items: center;
        text-overflow: ellipsis;
        overflow: hidden;
   }

table {
    width: 100%;
    table-layout: fixed; /* 테이블 레이아웃을 고정으로 설정 */
    border-collapse: collapse; /* 테이블 셀 간의 간격 제거 */
}

th, td {
    border: 1px solid rgb(245, 245, 245); /* 테이블 셀의 테두리 설정 */
    padding: 8px;
    text-align: center;
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

.container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.title {
    width: 40%;
}

.no {
    width: 10%;
}

.id {
    width: 20%;
}

.date {
    width: 15%;
}

.views {
    width: 15%;
}

.pagination {
    margin-top: 2%;
}

.outer-box {
    height: 40px;
    border-width: 0px 0px 1px 0px;
}

h1 {
    width: 70%;
    text-align: left;
    font-size: 5rem;
}

.head-row {
    box-shadow: 0px 3px 3px -3px rgb(241, 241, 241), 0px -3px 3px -3px rgb(241, 241, 241);
    border-width: 1px 0px 1px 0px;
}

.table {
    width: 70%;
    overflow: visible;
}

tr, thead, tbody {
    width: 100%;
}