* {
    text-align: center;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    width: 100%; /* 헤더가 전체 너비를 차지하게 설정 */
    background-color: #333; /* 헤더의 배경색 */
    color: white; /* 텍스트 색상 */
    padding: 10px 0; /* 헤더의 패딩 */
    text-align: center; /* 텍스트 가운데 정렬 */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    width: 80%; /* 테이블과 검색 바의 너비를 동일하게 설정 */
    flex: 1;
}

.table-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* 테이블이 부모 요소를 넘지 않도록 */
    height: 400px; /* 고정된 높이 */
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

th, td {
    border: 1px solid rgb(245, 245, 245);
    padding: 8px;
    text-align: center;
    white-space: nowrap;
    height: 40px;
}

th.data.no, td.data.no {
    width: 10%; /* 글번호 열 너비 설정 */
}

th.data.id, td.data.id {
    width: 20%; /* 작성자 열 너비 설정 */
}

th.data.title, td.data.title {
    width: 40%; /* 제목 열 너비 설정 */
}

th.data.date, td.data.date {
    width: 30%; /* 작성일 열 너비 설정 */
}

.pagination {
    margin-top: 2%;
}

.pagination .disabled a {
    color: #ccc;
    border-color: #ccc;
    pointer-events: none;
}

.pagination .active {
    color: #007bff;
    pointer-events: none;
}

.outer-box {
    height: 40px;
    border-width: 0px 0px 1px 0px;
}

h1 {
    width: 100%;
    text-align: left;
    font-size: 5rem;
}

.head-row {
    box-shadow: 0px 3px 3px -3px rgb(241, 241, 241), 0px -3px 3px -3px rgb(241, 241, 241);
    border-width: 1px 0px 1px 0px;
}

tr, thead, tbody {
    width: 100%;
}

/* 검색 관련 CSS */
.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.search-box {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 60%; /* 테이블 너비의 60%로 설정하여 적절한 크기 유지 */
    max-width: 600px;
}

.search-box input[type="search"] {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 50px 0 0 50px;
}

.search-box select {
    border: none;
    outline: none;
    background: none;
    font-size: 14px;
    margin: 0 10px;
    border-left: 1px solid #ddd;
    width: 80px;
    padding: 4px;
}

.search-box select option {
    font-size: 14px;
}

.search-box button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

footer {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}