@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

.title-edit {
  width: 80%;
  border: 0px;
  margin: 0px;
  height: 40px;
  padding-left: 1rem;
  font-size: 1.5rem;
}

.title-edit:focus {
  /* border: 0px; */
  outline: 0px;
}

/* select 부분 css */
.category-select {
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;
    width: 150px; /* 너비 조정 */
    max-width: 100%; /* 화면 크기에 따라 조절되도록 설정 */
}

.category-select:focus {
    border-color: #007bff;
}




.post-edit {
  width: 70%;
}
/* .row-box {
  justify-content: space-between;
} */

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.post-header {
  justify-content: space-between;
}

.post-header button {
  width: 110px;
  border-radius: 15px/15px;
  font-size: 1.3rem;
}

.post-header button:hover {
  transition-duration: 0.3s;
  background: #000;
  color: white;
}
