<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
</head>
<body>
<header th:fragment="header">
    <div class="left row-box">
        <a href="#" class="logo-box row-box clickable">
            <div class="logo">
                <i class="fa-solid fa-dumpster-fire fa-2xl"></i>
            </div>
            <div class="service-name">service</div></a
        >

        <div class="boards row-box">
            <ul>
                <li class="header-list"><a href="#">게시판</a></li>
                <li class="header-list"><a href="#">게시판</a></li>
                <li class="header-list"><a href="#">게시판</a></li>
            </ul>
        </div>
    </div>

    <nav class="auth-buttons row-box">
        <ul>
            <li class="header-list">log-in</li>
            <li class="header-list">sign-in</li>
        </ul>
    </nav>
</header>
</body>
</html>