<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.css" type="text/css" />
    <title>Document</title>
</head>
<body>
<header th:fragment="header">
    <div class="left row-box">
        <div class="logo-box row-box">
            <div class="logo">
<!--                <i class="fa-solid fa-dumpster-fire fa-2xl"></i>-->
                <p>임시 로고</p>
            </div>
            <div class="service-name">service</div>
        </div>
        <div class="boards row-box">
            <ul>
                <li><a href="#">게시판</a></li>
                <li><a href="#">게시판</a></li>
                <li><a href="#">게시판</a></li>
            </ul>
        </div>
    </div>
    <nav class="auth-buttons row-box">
        <ul>
            <li>log-in</li>
            <li>sign-in</li>
        </ul>
    </nav>
</header>
<script src="../script/mouseCursor.js"></script>
</body>
</html>