.footer {
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.column-box footer {
  width: 500px;
  text-align: center;
  align-items: center;
}
.names > * {
  margin-left: 10px;
  margin-right: 10px;
}

.footer > .column-box > div:nth-child(2) {
  justify-content: center;
}

.icons > * {
  margin: 10px;
}

footer {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 125px;
  padding: 10px;
  background: black;
  color: rgb(255, 255, 255);
  justify-content: center;
  display: flex;
}

html,
body {
  height: 100vh;
}

#wrapper {
  height: auto;
  min-height: 100%;
  padding-bottom: 125px;
}
