header {
  margin: 20px;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 25px / 25px;
}
.boards {
  display: flex;
  width: 190px;
  justify-content: start;
}
.logo-box {
  width: 150px;
  justify-content: space-evenly;
}

.auth-buttons {
  width: 200px;
}

.left {
  margin-left: 2%;
  width: 500px;
}

header > * > * {
  margin-left: 1%;
  margin-right: 1%;
}

button {
  height: 60px;
  width: 33%;
}

.service-name {
  font-size: 1.5rem;
}
* {
  text-align: center;
  align-items: center;
  overflow: visible;
}
