* {
  text-align: center;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.data {
  margin-left: 3%;
  margin-right: 3%;
}

.head-row {
  border-width: 0px 0px 1px 1px;
}

.container {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/* .left-value {
  width: 100%;
  justify-content: space-evenly;
} */

/* .right-value {
  width: 30%;
  justify-content: space-evenly;
} */

.title {
  width: 70%;
}
.no {
  width: 10%;
}

.id {
  width: 20%;
}
li {
  display: inline;
}

.pagination {
  margin-top: 2%;
}

.outer-box {
  height: 40px;
  border: 1px solid rgb(245, 245, 245);

  border-width: 0px 0px 1px 0px;
}

h1 {
  width: 70%;
  text-align: left;
  font-size: 5rem;
}

.head-row {
  box-shadow: 0px 3px 3px -3px rgb(241, 241, 241),
    0px -3px 3px -3px rgb(241, 241, 241);
}
.table {
  width: 70%;

  /* display: flex; */
  overflow: visible;
}

td {
  white-space: nowrap;
}

tr,
thead {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
