* {
  text-align: center;
  align-items: center;
  text-overflow: ellipsis;
}
.data {
  margin-left: 3%;
  margin-right: 3%;
}

.head-row {
  background-color: aqua;
}

.table {
  width: 70%;
}

.container {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.left-value {
  width: 80%;
  justify-content: space-evenly;
}

.right-value {
  width: 30%;
  justify-content: space-evenly;
}

.title {
  width: 70%;
}
.no {
  width: 10%;
}

.id {
  width: 20%;
}
li {
  display: inline;
}

.pagination {
  margin-top: 2%;
}
