/* .center {
  display: flex;

  flex-direction: column;
  align-items: center;
} */

.title-text {
  padding-left: 20px;
  font-size: 3rem;
  /* font-weight: bold; */
  color: rgb(0, 0, 0);
}

.main-text-container {
  width: 70%;
}

.main-text {
  padding: 20px;
  text-align: left;
  align-items: left;
  min-height: 500px;
}

.user-profile {
  width: 150px;
  justify-content: space-between;
}

.user-info {
  text-align: left;
}

.post-header {
  justify-content: space-between;
}

.comment-header {
  justify-content: space-between;
}

.addComment {
  justify-content: space-between;
}
.addComment > input {
  width: 90%;
}

img {
  width: 45px;
  height: 45px;
  object-fit: scale-down;
}

.row-box {
  align-items: center;
}
.title-section {
  width: 70%;
  justify-content: space-between;
}

* {
  text-overflow: ellipsis;
  /* margin: 1px; */
}

.date {
  transform: translateY(50%);
}

.profile {
  border-radius: 100%;
  overflow: hidden;
  width: 20%;
}

.comment-text {
  padding: 20px;
}

.comment-text-input:focus {
  /* border: 0px; */
  /* outline: 5px; */
  outline-color: rgb(245, 245, 245);
}

.comment-text-input {
  width: 80%;
  border: 1px solid rgb(223, 223, 223);

  margin: 10px;
  height: 80px;
  padding-left: 1px;
  font-size: 1rem;
}
.submit-btn {
  transition-duration: 0.3s;
  width: 90px;
  height: 80px;
  border-radius: 25px/25px;
}

.submit-btn:hover {
  background: #000;
  color: white;
}

.user-info-box {
  margin-left: 10px;
  display: flex;
  justify-content: start;
}

.user-info {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px;
}

.user-profile > span {
  font-size: 1rem;
}

.edit-delete > * {
  margin-right: 5px;
}

.edit-delete > *:hover {
  font-weight: bold;
}

#pre-section {
  tab-size: 4;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-x: auto;
  height: auto;
}

#pre-code-section {
  white-space: pre;
  background: #f0f0f0;
  padding: 0;
  border-radius: 10px/10px;
  text-overflow: unset;
}

code::-webkit-scrollbar {
  width: 8px;
  /* width는 세로 스크롤바에만 적용된다. */
  /* height: 8px; */
  /* 마찬가지로 height는 가로 스크롤바에만 적용된다 */
}

code::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 25px/25px;
}

code::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 45%);
  border-radius: 20px;
  background-clip: padding-box;
  border: 5px solid transparent;
}

code::-webkit-scrollbar-thumb:hover {
  transition-duration: 1s;
  background: hsl(0, 0%, 70%);
  background-clip: padding-box;
  /* border: 1px solid transparent; */

  border: 6px solid transparent;
  /* border-radius: 9px; */
}

/* pre:hover,
pre:focus {
  width: min-content;
} */
/* #pre-code-section > * {
  margin: 5px;
  margin-bottom: 10px;
} */
