<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
</head>
<body>
<div></div>
<footer th:fragment="footer">
    <div class="column-box footer">
        <div class="names row-box">
            Made by <span>SJ</span><span>GR</span><span>HS</span><span>DJ</span>
        </div>
        <div class="icons row-box">
            <i class="fa-solid fa-circle-info"></i>
            <i class="fa-solid fa-truck-fast"></i>
            <i class="fa-solid fa-bookmark"></i>
            <i class="fa-solid fa-wand-magic-sparkles"></i>
        </div>

        <span>KostaTeam @ 2024 All rights reserved</span>
    </div>
</footer>
</body>
</html>
