<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../static/css/header.css" />
    <link rel="stylesheet" href="../static/css/init.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="left row-box">
        <div class="logo-box row-box">
          <div class="logo">
            <a class="fa-solid fa-dumpster-fire fa-2xl"></a>
          </div>
          <div class="service-name">service</div>
        </div>

        <div class="boards row-box">
          <button>게시판</button>
          <button>게시판</button>
          <button>게시판</button>
        </div>
      </div>

      <div class="auth-buttons row-box">
        <button>log-in</button>
        <button>sign-in</button>
      </div>
    </header>
  </body>
</html>
