<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../static/css/header.css" />
    <link rel="stylesheet" href="../static/css/init.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="left row-box">
        <a href="#" class="logo-box row-box clickable">
          <div class="logo">
            <i class="fa-solid fa-dumpster-fire fa-2xl"></i>
          </div>
          <div class="service-name">service</div></a
        >

        <div class="boards row-box">
          <ul>
            <li><a href="#">게시판</a></li>
            <li><a href="#">게시판</a></li>
            <li><a href="#">게시판</a></li>
          </ul>
        </div>
      </div>

      <nav class="auth-buttons row-box">
        <ul>
          <li>log-in</li>
          <li>sign-in</li>
        </ul>
      </nav>
    </header>

    <script src="../script/mouseCursor.js"></script>
  </body>
</html>
