<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../static/css/header.css" />
    <link rel="stylesheet" href="../static/css/footer.css" />

    <link rel="stylesheet" href="../static/css/init.css" />
    <link rel="stylesheet" href="../static/css/postList.css" />
  </head>
  <body>
    <div class="center">
      <header>
        <div class="left row-box">
          <a href="#" class="logo-box row-box clickable">
            <div class="logo">
              <i class="fa-solid fa-dumpster-fire fa-2xl"></i>
            </div>
            <div class="service-name">service</div></a
          >

          <div class="boards row-box">
            <ul>
              <li><a href="#">게시판</a></li>
              <li><a href="#">게시판</a></li>
              <li><a href="#">게시판</a></li>
            </ul>
          </div>
        </div>

        <nav class="auth-buttons row-box">
          <ul>
            <li>log-in</li>
            <li>sign-in</li>
          </ul>
        </nav>
      </header>

      <div class="post-list">
        <h1>Transactions</h1>
        <div class="table">
          <table>
            <thead>
              <tr class="row-box head-row outer-box">
                <th class="data no">sample</th>
                <th class="data id">sample</th>
                <th class="data title">sampleText</th>
                <th class="data date">sampleText</th>
                <th class="data views">sampleText</th>
              </tr>
            </thead>

            <tbody>
              <tr class="row-box outer-box">
                <td class="data no">sample</td>
                <td class="data id">sample</td>
                <td class="data title">sampleText</td>
                <td class="data date">sampleText</td>
                <td class="data views">sampleText</td>
              </tr>
            </tbody>

            <tbody>
              <tr class="row-box outer-box">
                <td class="data no">sample</td>
                <td class="data id">sample</td>
                <td class="data title">sampleText</td>
                <td class="data date">sampleText</td>
                <td class="data views">sampleText</td>
              </tr>
            </tbody>

            <tbody>
              <tr class="row-box outer-box">
                <td class="data no">sample</td>
                <td class="data id">sample</td>
                <td class="data title">sampleText</td>
                <td class="data date">sampleText</td>
                <td class="data views">sampleText</td>
              </tr>
            </tbody>

            <tbody>
              <tr class="row-box outer-box">
                <td class="data no">sample</td>
                <td class="data id">sample</td>
                <td class="data title">sampleText</td>
                <td class="data date">sampleText</td>
                <td class="data views">sampleText</td>
              </tr>
            </tbody>

            <tbody>
              <tr class="row-box outer-box">
                <td class="data no">sample</td>
                <td class="data id">sample</td>
                <td class="data title">sampleText</td>
                <td class="data date">sampleText</td>
                <td class="data views">sampleText</td>
              </tr>
            </tbody>

            <tbody>
              <tr class="row-box outer-box">
                <td class="data no">sample</td>
                <td class="data id">sample</td>
                <td class="data title">sampleText</td>
                <td class="data date">sampleText</td>
                <td class="data views">sampleText</td>
              </tr>
            </tbody>

            <tbody>
              <tr class="row-box outer-box">
                <td class="data no">sample</td>
                <td class="data id">sample</td>
                <td class="data title">sampleText</td>
                <td class="data date">sampleText</td>
                <td class="data views">sampleText</td>
              </tr>
            </tbody>

            <tbody>
              <tr class="row-box outer-box">
                <td class="data no">sample</td>
                <td class="data id">sample</td>
                <td class="data title">sampleText</td>
                <td class="data date">sampleText</td>
                <td class="data views">sampleText</td>
              </tr>
            </tbody>

            <tbody>
              <tr class="row-box outer-box">
                <td class="data no">sample</td>
                <td class="data id">sample</td>
                <td class="data title">sampleText</td>
                <td class="data date">sampleText</td>
                <td class="data views">sampleText</td>
              </tr>
            </tbody>

            <tbody>
              <tr class="row-box outer-box">
                <td class="data no">sample</td>
                <td class="data id">sample</td>
                <td class="data title">sampleText</td>
                <td class="data date">sampleText</td>
                <td class="data views">sampleText</td>
              </tr>
            </tbody>
          </table>
        </div>
        <nav class="pagination">
          <ul>
            <li><a href="#">prev</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">99</a></li>

            <li><a href="#">next</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <footer>
      <div class="column-box footer">
        <div class="names row-box">
          <span>text</span><span>text</span><span>text</span><span>text</span>
        </div>
        <div class="icons row-box">
          <i class="fa-solid fa-circle-info"></i>
          <i class="fa-solid fa-truck-fast"></i>
          <i class="fa-solid fa-bookmark"></i>
          <i class="fa-solid fa-wand-magic-sparkles"></i>
        </div>

        <span>CompanyName @ 202X. All rights reserved.</span>
      </div>
    </footer>
  </body>
</html>
