<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../static/css/header.css" />
    <link rel="stylesheet" href="../static/css/footer.css" />

    <link rel="stylesheet" href="../static/css/init.css" />
    <link rel="stylesheet" href="../static/css/postList.css" />

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
    </style>
  </head>
  <body>
    <div id="wrapper">
      <div class="center">
        <header>
          <div class="left row-box">
            <a href="#" class="logo-box row-box clickable">
              <div class="logo">
                <i class="fa-solid fa-dumpster-fire fa-2xl"></i>
              </div>
              <div class="service-name">service</div></a
            >

            <div class="boards row-box">
              <ul>
                <li class="header-list"><a href="#">게시판</a></li>
                <li class="header-list"><a href="#">게시판</a></li>
                <li class="header-list"><a href="#">게시판</a></li>
              </ul>
            </div>
          </div>

          <nav class="auth-buttons row-box">
            <ul>
              <li class="header-list">log-in</li>
              <li class="header-list">sign-in</li>
            </ul>
          </nav>
        </header>

        <div class="post-list">
          <div class="board-title">
            <span>B</span>
            <span>o</span>
            <span>a</span>
            <span>r</span>
            <span>d</span>
            <span>T</span>
            <span>i</span>
            <span>t</span>
            <span>l</span>
            <span>e</span>
          </div>

          <div class="search-bar row-box">
            <input
              class="title-edit"
              type="text"
              placeholder="검색어를 입력하세요."
            />
            <div class="search row-box">
              <button>검색</button>
            </div>
          </div>

          <div class="table">
            <table>
              <thead>
                <tr class="row-box head-row outer-box">
                  <th class="data no">no</th>
                  <th class="data title">title</th>
                  <th class="data hashtag">hashtag</th>
                  <th class="data id">id</th>
                  <th class="data date">date</th>
                </tr>
              </thead>

              <tbody>
                <tr class="row-box outer-box">
                  <td class="data no">sample</td>
                  <td class="data title">sample</td>
                  <td class="data hashtag">sampleText</td>
                  <td class="data id">sampleText</td>
                  <td class="data date">sampleText</td>
                </tr>
              </tbody>

              <tbody>
                <tr class="row-box outer-box">
                  <td class="data no">sample</td>
                  <td class="data title">sample</td>
                  <td class="data hashtag">sampleText</td>
                  <td class="data id">sampleText</td>
                  <td class="data date">sampleText</td>
                </tr>
              </tbody>
              <tbody>
                <tr class="row-box outer-box">
                  <td class="data no">sample</td>
                  <td class="data title">sample</td>
                  <td class="data hashtag">sampleText</td>
                  <td class="data id">sampleText</td>
                  <td class="data date">sampleText</td>
                </tr>
              </tbody>
              <tbody>
                <tr class="row-box outer-box">
                  <td class="data no">sample</td>
                  <td class="data title">sample</td>
                  <td class="data hashtag">sampleText</td>
                  <td class="data id">sampleText</td>
                  <td class="data date">sampleText</td>
                </tr>
              </tbody>
              <tbody>
                <tr class="row-box outer-box">
                  <td class="data no">sample</td>
                  <td class="data title">sample</td>
                  <td class="data hashtag">sampleText</td>
                  <td class="data id">sampleText</td>
                  <td class="data date">sampleText</td>
                </tr>
              </tbody>
              <tbody>
                <tr class="row-box outer-box">
                  <td class="data no">sample</td>
                  <td class="data title">sample</td>
                  <td class="data hashtag">sampleText</td>
                  <td class="data id">sampleText</td>
                  <td class="data date">sampleText</td>
                </tr>
              </tbody>
              <tbody>
                <tr class="row-box outer-box">
                  <td class="data no">sample</td>
                  <td class="data title">sample</td>
                  <td class="data hashtag">sampleText</td>
                  <td class="data id">sampleText</td>
                  <td class="data date">sampleText</td>
                </tr>
              </tbody>
              <tbody>
                <tr class="row-box outer-box">
                  <td class="data no">sample</td>
                  <td class="data title">sample</td>
                  <td class="data hashtag">sampleText</td>
                  <td class="data id">sampleText</td>
                  <td class="data date">sampleText</td>
                </tr>
              </tbody>
              <tbody>
                <tr class="row-box outer-box">
                  <td class="data no">sample</td>
                  <td class="data title">sample</td>
                  <td class="data hashtag">sampleText</td>
                  <td class="data id">sampleText</td>
                  <td class="data date">sampleText</td>
                </tr>
              </tbody>
              <tbody>
                <tr class="row-box outer-box">
                  <td class="data no">sample</td>
                  <td class="data title">sample</td>
                  <td class="data hashtag">sampleText</td>
                  <td class="data id">sampleText</td>
                  <td class="data date">sampleText</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="posting-button">
            <a href="#">글쓰기</a>
          </div>

          <nav class="pagination">
            <ul>
              <li><a href="#">prev</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">...</a></li>
              <li><a href="#">99</a></li>

              <li><a href="#">next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <footer>
      <div class="column-box footer">
        <div class="names row-box">
          <span>text</span><span>text</span><span>text</span><span>text</span>
        </div>
        <div class="icons row-box">
          <i class="fa-solid fa-circle-info"></i>
          <i class="fa-solid fa-truck-fast"></i>
          <i class="fa-solid fa-bookmark"></i>
          <i class="fa-solid fa-wand-magic-sparkles"></i>
        </div>

        <span>CompanyName @ 202X. All rights reserved.</span>
      </div>
    </footer>
  </body>
</html>
