<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/init.css" />
    <link rel="stylesheet" href="../static/css/postDetail.css" />
  </head>
  <body>
    <div class="container">
      <div class="post-header row-box">
        <div class="title-section row-box">
          <span class="title-text">aaaaaaaa</span>

          <div class="edit-delete row-box">
            <button>수정</button>
            <button>삭제</button>
          </div>
        </div>

        <div class="user-info-box row-box">
          <img
            crossorigin="anonymous"
            class="profile"
            src="https://picsum.photos/50/49"
            alt=""
          />
          <div class="user-info row-box">
            <div class="user-profile column-box">
              <span class="user-name">jane doe</span
              ><span>senior designer</span>
            </div>

            <span class="date">0000.00.00</span>
          </div>
        </div>
      </div>
      <hr />

      <div class="main-text">
        <article>
          <p>
            Google Chrome is a web browser developed by Google, released in
            2008. Chrome is the world's most popular web browser today!
          </p>
          <p>
            Mozilla Firefox is an open-source web browser developed by Mozilla.
            Firefox has been the second most popular web browser since January,
            2018.
          </p>
          <p>
            Microsoft Edge is a web browser developed by Microsoft, released in
            2015. Microsoft Edge replaced Internet Explorer.
          </p>
          <p>
            Google Chrome is a web browser developed by Google, released in
            2008. Chrome is the world's most popular web browser today!
          </p>
          <p>
            Mozilla Firefox is an open-source web browser developed by Mozilla.
            Firefox has been the second most popular web browser since January,
            2018.
          </p>
          <p>
            Microsoft Edge is a web browser developed by Microsoft, released in
            2015. Microsoft Edge replaced Internet Explorer.
          </p>
          <p>
            Google Chrome is a web browser developed by Google, released in
            2008. Chrome is the world's most popular web browser today!
          </p>
          <p>
            Mozilla Firefox is an open-source web browser developed by Mozilla.
            Firefox has been the second most popular web browser since January,
            2018.
          </p>
          <p>
            Microsoft Edge is a web browser developed by Microsoft, released in
            2015. Microsoft Edge replaced Internet Explorer.
          </p>
        </article>
      </div>

      <hr />

      <div class="comment-box">
        <div class="comment-header row-box">
          <div class="user-info-box row-box">
            <img
              crossorigin="anonymous"
              class="profile"
              src="https://picsum.photos/50/49"
              alt=""
            />
            <div class="user-info row-box">
              <div class="user-profile column-box">
                <span class="user-name">jane doe</span
                ><span>senior designer</span>
              </div>

              <span class="date">0000.00.00</span>
            </div>
          </div>

          <div class="edit-delete">
            <button>수정</button>
            <button>삭제</button>
          </div>
        </div>

        <div class="comment-text">
          <span>
            Google Chrome is a web browser developed by Google, released in
            2008. Chrome is the world's most popular web browser today!
          </span>
        </div>
      </div>
      <hr />

      <div class="addComment row-box">
        <input type="text" />
        <button class="submit-btn">submit</button>
      </div>
    </div>
  </body>
</html>
